{% extends "layout.html" %}

{% block content %}

<h2>Admin Panel</h2>
<!--
	<form action="{{ url_for('camera_start') }}">
		<input type="submit" value="start camera">
	</form>

	<form action="{{ url_for('scan_start') }}">
		<input type="submit" value="start scanning">
	</form>

	<form action="{{ url_for('view_faces') }}">
		<input type="submit" value="view faces">
	</form>

	<form action="{{ url_for('view_original') }}">
		<input type="submit" value="view original pictures">
	</form>
-->
<form action="{{ url_for('new_db') }}">
	<input type="submit" value="create new database">
</form>

{% endblock %}
