{% extends "layout.html" %}

{% block content %}
	<form action="{{ url_for('camera_start') }}">
		<input class="bigbutton" type="submit" value="start camera">
	</form>
	
	<form action="{{ url_for('manip_data') }}">
		<input class="bigbutton" type="submit" value="manipulate data">
	</form>
	
	<form action="{{ url_for('view_detected') }}">
		<input class="bigbutton" type="submit" value="view detected pictures">
	</form>
	
	<form action="{{ url_for('view_original') }}">
		<input class="bigbutton" type="submit" value="view original pictures">
	</form>

{% endblock %}
